$header1: 2.5rem;
$header2: 4rem;
$header3: 2.5rem;
$header4: 2rem;
$text: 2.5rem;
$gradient: linear-gradient(left, #80ffdb, #64dfdf);
$background-color: #154353;
$gray-text: #2c2c2c;
$color1: #252525;
$color2: #6930c3;
$color3: #64dfdf;
$color4: #80ffdb;
$color5: #e1e1e1;

@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@import "global";
@import "projects";
@import "contact";
@import "footer";
@import "about";
@import "intro";

@media screen and (max-width: 1080px) {
  html {
    font-size: 53%;
  }
  .splash {
    display: none;
  }
  svg {
    width: 80%;
  }
  nav {
    width: 100%;
  }
  .details-popup-container {
    padding: 0;
    padding-top: 10vh;
    .details-popup {
      @include flex(center, flex-start, column);
      height: auto;
      width: auto;
      #details-screenshot {
        margin: 3rem 0;
        max-width: 100%;
      }
      .details {
        width: 100%;
        max-width: 100%;
        margin: 2rem 0;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 45%;
  }
  header {
    padding-bottom: 2rem;
  }
  svg {
    height: 60%;
  }
  .main-head {
    width: 100%;
  }
  nav {
    .logo {
      @include flex(center, center, column);
      flex: 1 1 20rem;
      margin-top: 2rem;
    }
    ul {
      flex: 1 1 60rem;
      margin: 2rem 0rem;
    }
  }
  .intro-text {
    @include flex(center, center, column);
    margin-top: 5rem;
    text-align: center;
  }
  .intro-images {
    text-align: center;
    svg {
      margin: 0;
    }
  }
  .intro-social {
    @include flex(center, center, row);
    a {
      margin: 2rem;
    }
  }
  .all-projects {
    @include flex(center, center, column);
    .ongoing,
    .done {
      width: 100%;
      @include flex(center, center, column);
      .projects {
        @include flex(center, center, column);
        .project-card {
          height: 27rem;
          width: 48rem;
          max-width: 90vw;
          @include flex(center, center, row);
        }
      }
    }
  }
  form {
    padding: 0rem;
    width: 100%;
  }
}
